argon2-cffi
asgiref
async-generator
attrs
backcall
bleach
cffi
click
colorama
cycler
decorator
defusedxml
Django
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
nltk
notebook
numpy
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pywin32
pywinpty
pyzmq
qtconsole
QtPy
regex
scikit-learn
scipy
seaborn
Send2Trash
six
sqlparse
terminado
testpath
threadpoolctl
tornado
tqdm
traitlets
wcwidth
webencodings
widgetsnbextension
